<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <title>Add a new item </title>
</head>
<body>
<div class="container">
    <h1> Add New </h1>
</div>
<div class="container">
<form name="budget" action="/newitem/" method="POST">
<p>Date</p>
<input type="text" id="date" name="date" placeholder="Retirement"><br>
<p>Name</p><br>
<input type="text" id="name" name="name" placeholder="Retirement"><br>
<p>Amount</p><br>
<input type="text" id="amount" name="amount" placeholder="$10,000">
<p>From</p><br>
<input type="text" id="from" name="from" placeholder="Country Bank">
<p>Tags</p><br>
<input type="text" id="tags" name="tags" placeholder="retirement, investing for the future">
<button type="submit"  >CREATE NEW ITEM</button>

</form>



</div>